<div class="modal-header px-5 pt-5 border-bottom-0">
  <div class="modal-title fs-6">{{ changePasswordModalLabels.Title }}</div>
  <button
    type="button"
    class="btn-close"
    (click)="closeChangePasswordModal()"
  ></button>
</div>
<div class="modal-body px-5">
  <ng-container [formGroup]="changePasswordForm">
    <div class="mb-3">
      <label for="oldPassword" class="form-label fw-bold">
        {{ changePasswordModalLabels.OldPassword }}
        <span class="text-danger">*</span>
      </label>
      <input
        type="password"
        class="form-control"
        [ngClass]="{
          'is-invalid': isChangePasswordFormSubmitted && oldPassword?.invalid
        }"
        id="oldPassword"
        [placeholder]="changePasswordModalLabels.OldPasswordPlaceholder"
        formControlName="oldPassword"
      />
      <div
        class="invalid-feedback"
        *ngIf="isChangePasswordFormSubmitted && oldPassword?.invalid"
      >
        <div *ngIf="(oldPassword?.errors)!['required']">
          {{ passwordFormControlLabels.RequiredValidationFeedback }}
        </div>
      </div>
    </div>
    <div class="mb-3">
      <hr />
    </div>
    <div class="mb-3">
      <label for="newPassword" class="form-label fw-bold">
        {{ changePasswordModalLabels.NewPassword }}
        <span class="text-danger">*</span>
      </label>
      <input
        type="password"
        class="form-control"
        [ngClass]="{
          'is-invalid': isChangePasswordFormSubmitted && newPassword?.invalid
        }"
        id="newPassword"
        [placeholder]="changePasswordModalLabels.NewPasswordPlaceholder"
        formControlName="newPassword"
      />
      <div
        class="invalid-feedback"
        *ngIf="isChangePasswordFormSubmitted && newPassword?.invalid"
      >
        <div *ngIf="(newPassword?.errors)!['required']">
          {{ passwordFormControlLabels.RequiredValidationFeedback }}
        </div>
        <div *ngIf="(newPassword?.errors)!['minlength']">
          {{ passwordFormControlLabels.MinLengthValidationFeedback }}
        </div>
        <div *ngIf="(newPassword?.errors)!['maxlength']">
          {{ passwordFormControlLabels.MaxLengthValidationFeedback }}
        </div>
        <div *ngIf="(newPassword?.errors)!['pattern']">
          {{ passwordFormControlLabels.PatternValidationFeedback }}
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="confirmPassword" class="form-label fw-bold">
        {{ changePasswordModalLabels.ConfirmPassword }}
        <span class="text-danger">*</span>
      </label>
      <input
        type="password"
        class="form-control"
        [ngClass]="{
          'is-invalid':
            isChangePasswordFormSubmitted && confirmPassword?.invalid
        }"
        id="confirmPassword"
        [placeholder]="changePasswordModalLabels.ConfirmPasswordPlaceholder"
        formControlName="confirmPassword"
      />
      <div
        class="invalid-feedback"
        *ngIf="isChangePasswordFormSubmitted && confirmPassword?.invalid"
      >
        <div *ngIf="(confirmPassword?.errors)!['required']">
          {{ passwordFormControlLabels.RequiredValidationFeedback }}
        </div>
        <div *ngIf="(confirmPassword?.errors)!['minlength']">
          {{ passwordFormControlLabels.MinLengthValidationFeedback }}
        </div>
        <div *ngIf="(confirmPassword?.errors)!['maxlength']">
          {{ passwordFormControlLabels.MaxLengthValidationFeedback }}
        </div>
        <div *ngIf="(confirmPassword?.errors)!['pattern']">
          {{ passwordFormControlLabels.PatternValidationFeedback }}
        </div>
        <div *ngIf="(confirmPassword?.errors)!['passwordsMismatch']">
          {{ passwordFormControlLabels.PasswordsMismatchValidationFeedback }}
        </div>
      </div>
      <div
        class="invalid-feedback"
        *ngIf="
          isChangePasswordFormSubmitted &&
          changePasswordForm?.invalid &&
          changePasswordForm?.errors
        "
      >
        <div *ngIf="(changePasswordForm?.errors)!['passwordsMismatch']">
          {{ passwordFormControlLabels.PasswordsMismatchValidationFeedback }}
        </div>
      </div>
    </div>
    <div class="mb-3">
      <hr />
    </div>
    <ul class="list-unstyled p-2 bg-light border-top border-bottom text-muted">
      <li>{{ passwordFormControlLabels.MinLengthInstruction }}</li>
      <li>{{ passwordFormControlLabels.MaxLengthInstruction }}</li>
      <li>{{ passwordFormControlLabels.PatternInstruction }}</li>
    </ul>
  </ng-container>
</div>
<div class="modal-footer px-5 pb-5 border-top-0">
  <button
    type="button"
    class="btn btn-link btn-sm text-reset text-uppercase text-decoration-none"
    (click)="cancelChangePasswordModal()"
  >
    {{ changePasswordModalLabels.Cancel }}
  </button>
  <button
    type="button"
    class="btn btn-primary btn-sm text-uppercase"
    (click)="changePassword()"
  >
    {{ changePasswordModalLabels.ChangePassword }}
  </button>
</div>
