<div class="row">
  <div class="col-12">
    <div class="table-responsive">
      <table class="table">
        <thead class="table-primary">
          <tr>
            <th
              *ngFor="let userTemplatesTh of userTemplatesThead; let i = index"
              [ngClass]="{
                'text-end': [0].includes(i),
                'text-center': [userTemplatesThead.length - 1].includes(i)
              }"
            >
              {{ userTemplatesTh.name }}
            </th>
          </tr>
        </thead>
        <tbody *ngIf="!userTemplates.length">
          <tr>
            <td
              class="text-center fw-bold"
              [attr.colspan]="userTemplatesThead.length"
            >
              {{ homeLabels.NoRecordsFound }}
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="userTemplates.length > 0">
          <tr *ngFor="let userTemplate of userTemplates; let i = index">
            <th scope="row" class="text-end">{{ i + 1 }}</th>
            <td>
              <button
                type="button"
                class="btn btn-link p-0 fw-bold"
                (click)="view(userTemplate)"
              >
                {{ userTemplate.uuid }}
              </button>
            </td>
            <td>{{ userTemplate.filename }}</td>
            <td>{{ userTemplate.createdOn | formatDate: "DMY" }}</td>
            <td class="text-center">
              <button
                type="button"
                class="btn btn-link p-0 ms-2"
                (click)="openDeleteUserTemplateModal(userTemplate)"
              >
                <i class="bi bi-trash text-danger"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
