<div class="row">
  <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 mb-3">
    <select
      class="form-select"
      [(ngModel)]="categoryModel"
      (ngModelChange)="onCategoryModelChange($event)"
    >
      <option [value]="0">{{ labels.CategoryPlaceholder }}</option>
      <option [value]="category.id" *ngFor="let category of categories">
        {{ category.name }}
      </option>
    </select>
  </div>
  <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 mb-3">
    <select
      class="form-select"
      [(ngModel)]="subcategoryModel"
      (ngModelChange)="onSubcategoryModelChange($event)"
    >
      <option [value]="0">{{ labels.SubcategoryPlaceholder }}</option>
      <option
        [value]="subcategory.id"
        *ngFor="let subcategory of subcategories"
      >
        {{ subcategory.name }}
      </option>
    </select>
  </div>
  <div class="col-12 col-sm-12 col-md-5 col-lg-4 col-xl-3 mb-3">
    <select
      class="form-select"
      [(ngModel)]="templateModel"
      (ngModelChange)="onTemplateModelChange($event)"
    >
      <option [value]="0">{{ labels.TemplatePlaceholder }}</option>
      <option [value]="template.id" *ngFor="let template of templates">
        {{ template.name }}
      </option>
    </select>
  </div>
  <div
    class="col-12 col-sm-12 col-md-12 col-xl-3 mb-3 d-flex justify-content-between align-items-center"
  >
    <button
      type="button"
      class="btn btn-primary btn-sm text-uppercase"
      (click)="getFields()"
      [disabled]="!(categoryModel && subcategoryModel && templateModel)"
    >
      {{ labels.Get }}
    </button>
    <button
      type="button"
      class="btn lh-1 p-0"
      (click)="openSubcategoryTypesModal(subcategoryTypesModalTemplate)"
      [disabled]="
        isSubcategoryTypesModalOpened || [0, '0'].includes(subcategoryModel)
      "
    >
      <i class="bi bi-lightbulb fs-3 text-warning"></i>
    </button>
  </div>
</div>

<ng-container *ngIf="templateModel && isGetClicked">
  <div class="row">
    <div class="col-12">
      <hr />
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <form [formGroup]="fieldsForm">
        <div class="row" *ngIf="fields.controls.length > 0">
          <div class="col-12 col-sm-12 d-flex flex-wrap">
            <ng-container formArrayName="fields">
              <ng-container
                *ngFor="let fieldForm of fields.controls; let i = index"
              >
                <ng-container [formGroupName]="i">
                  <div class="input-group w-auto m-2 mt-0 ms-0">
                    <span class="input-group-text fw-bold"
                      >{{ fieldForm.value.name }}
                      <!-- [popover]="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." -->
                      <i
                        class="bi bi-info-circle ms-2 cursor-pointer text-info"
                        *ngIf="fieldForm.value.notes"
                        [title]="fieldForm.value.notes"
                        triggers="focus"
                      ></i>
                    </span>
                    <!-- [placeholder]="labels.FieldPlaceholder" -->
                    <input
                      type="text"
                      class="form-control w-auto flex-grow-0 flex-shrink-0"
                      *ngIf="fieldForm.value.size === 0"
                      formControlName="value"
                    />
                    <!-- [placeholder]="labels.FieldPlaceholder" -->
                    <textarea
                      class="form-control w-auto flex-grow-0 flex-shrink-0"
                      rows="2"
                      cols="50"
                      *ngIf="fieldForm.value.size === 1"
                      formControlName="value"
                    ></textarea>
                  </div>
                </ng-container>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <hr />
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-12 col-sm-12">
      <button type="button" class="btn btn-primary btn-sm" (click)="getText()">
        {{ labels.Preview }}
      </button>
    </div>
  </div>

  <ng-container *ngIf="isPreviewClicked && processedText">
    <div class="row">
      <div class="col-12">
        <hr />
      </div>
    </div>

    <div class="row">
      <div class="col-12 px-5">
        <!-- Preview -->
        <div class="row mb-3">
          <div
            class="col-12 col-sm-12 d-flex justify-content-between align-items-center m-auto a4"
          >
            <label class="form-label fw-bold">Preview</label>
            <input
              type="text"
              class="form-control w-50"
              [(ngModel)]="downloadFilenameModel"
              [placeholder]="labels.DownloadFilenamePlaceholder"
            />
            <div class="btn-group">
              <button
                type="button"
                class="btn btn-outline-secondary"
                (click)="download('doc')"
              >
                <i class="bi bi-file-earmark-word-fill"></i>
              </button>
              <button
                type="button"
                class="btn btn-outline-secondary"
                (click)="download('pdf')"
              >
                <i class="bi bi-file-earmark-pdf-fill"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-12 col-sm-12 table-responsive">
            <div
              id="preview"
              class="m-auto bg-white p-1-inch a4"
              [innerHtml]="processedText | safeHtml"
              contenteditable="true"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>

<ng-template #subcategoryTypesModalTemplate>
  <div class="modal-header p-2 border-bottom-0">
    <div class="modal-title fw-bold small">
      {{
        subcategoryModel
          ? getSubcategoryName(subcategoryModel) + " - Types"
          : subcategoryTypesModalLabels.Title
      }}
    </div>
    <button
      type="button"
      class="btn-close small"
      (click)="closeAddSubcategoryModal()"
    ></button>
  </div>
  <div class="modal-body pt-0">
    <select
      class="form-select"
      [(ngModel)]="subcategoryTypeModel"
      (ngModelChange)="onSubcategoryTypeModelChange($event)"
    >
      <option [value]="0">{{ labels.SubcategoryTypePlaceholder }}</option>
      <option
        [value]="subcategoryType.id"
        *ngFor="let subcategoryType of subcategoryTypes"
      >
        {{ subcategoryType.name }}
      </option>
    </select>
    <hr />
    <span class="fst-italic" *ngIf="!subcategoryTypeValues.length">{{
      homeLabels.NoRecordsFound
    }}</span>
    <ul
      class="list-group list-group-flush small"
      *ngIf="subcategoryTypeValues.length > 0"
    >
      <li
        class="list-group-item p-2"
        *ngFor="let subcategoryTypeValue of subcategoryTypeValues"
        [innerHtml]="subcategoryTypeValue.name"
      ></li>
    </ul>
  </div>
</ng-template>
