<div class="modal-header px-5 pt-5 border-bottom-0">
  <div class="modal-title fs-6">
    {{ changeDefaultPasswordModalLabels.Title }}
  </div>
  <button
    type="button"
    class="btn-close"
    (click)="closeChangeDefaultPasswordModal()"
  ></button>
</div>
<div class="modal-body px-5">
  <ng-container [formGroup]="changeDefaultPasswordForm">
    <div class="mb-3 p-3 border rounded-pill bg-light text-center text-primary">
      <i class="bi bi-emoji-heart-eyes text-success"></i>
      <div>
        {{ labels.GreetHi }}, <span class="fw-bold">{{ name }}</span
        >!
        {{ labels.GreetWelcome }}
        <span class="badge bg-primary rounded-pill">{{
          this.appDetails?.name
        }}</span>
      </div>
      <div>
        {{ labels.GreetMessage }}
      </div>
    </div>
    <div class="mb-3">
      <hr />
    </div>
    <div class="mb-3">
      <label for="newPassword" class="form-label fw-bold">
        {{ changeDefaultPasswordModalLabels.NewPassword }}
        <span class="text-danger">*</span>
      </label>
      <input
        type="password"
        class="form-control"
        [ngClass]="{
          'is-invalid':
            isChangeDefaultPasswordFormSubmitted && newPassword?.invalid
        }"
        id="newPassword"
        [placeholder]="changeDefaultPasswordModalLabels.NewPasswordPlaceholder"
        formControlName="newPassword"
      />
      <div
        class="invalid-feedback"
        *ngIf="isChangeDefaultPasswordFormSubmitted && newPassword?.invalid"
      >
        <div *ngIf="(newPassword?.errors)!['required']">
          {{ passwordFormControlLabels.RequiredValidationFeedback }}
        </div>
        <div *ngIf="(newPassword?.errors)!['minlength']">
          {{ passwordFormControlLabels.MinLengthValidationFeedback }}
        </div>
        <div *ngIf="(newPassword?.errors)!['maxlength']">
          {{ passwordFormControlLabels.MaxLengthValidationFeedback }}
        </div>
        <div *ngIf="(newPassword?.errors)!['pattern']">
          {{ passwordFormControlLabels.PatternValidationFeedback }}
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="confirmPassword" class="form-label fw-bold">
        {{ changeDefaultPasswordModalLabels.ConfirmPassword }}
        <span class="text-danger">*</span>
      </label>
      <input
        type="password"
        class="form-control"
        [ngClass]="{
          'is-invalid':
            isChangeDefaultPasswordFormSubmitted && confirmPassword?.invalid
        }"
        id="confirmPassword"
        [placeholder]="
          changeDefaultPasswordModalLabels.ConfirmPasswordPlaceholder
        "
        formControlName="confirmPassword"
      />
      <div
        class="invalid-feedback"
        *ngIf="isChangeDefaultPasswordFormSubmitted && confirmPassword?.invalid"
      >
        <div *ngIf="(confirmPassword?.errors)!['required']">
          {{ passwordFormControlLabels.RequiredValidationFeedback }}
        </div>
        <div *ngIf="(confirmPassword?.errors)!['minlength']">
          {{ passwordFormControlLabels.MinLengthValidationFeedback }}
        </div>
        <div *ngIf="(confirmPassword?.errors)!['maxlength']">
          {{ passwordFormControlLabels.MaxLengthValidationFeedback }}
        </div>
        <div *ngIf="(confirmPassword?.errors)!['pattern']">
          {{ passwordFormControlLabels.PatternValidationFeedback }}
        </div>
        <div *ngIf="(confirmPassword?.errors)!['passwordsMismatch']">
          {{ passwordFormControlLabels.PasswordsMismatchValidationFeedback }}
        </div>
      </div>
      <div
        class="invalid-feedback"
        *ngIf="
          isChangeDefaultPasswordFormSubmitted &&
          changeDefaultPasswordForm?.invalid &&
          changeDefaultPasswordForm?.errors
        "
      >
        <div *ngIf="(changeDefaultPasswordForm?.errors)!['passwordsMismatch']">
          {{ passwordFormControlLabels.PasswordsMismatchValidationFeedback }}
        </div>
      </div>
    </div>
    <div class="mb-3">
      <hr />
    </div>
    <ul class="list-unstyled p-2 bg-light border-top border-bottom text-muted">
      <li [innerHtml]="passwordFormControlLabels.MinLengthInstruction"></li>
      <li [innerHtml]="passwordFormControlLabels.MaxLengthInstruction"></li>
      <li [innerHtml]="passwordFormControlLabels.PatternInstruction"></li>
    </ul>
  </ng-container>
</div>
<div class="modal-footer px-5 pb-5 border-top-0">
  <button
    type="button"
    class="btn btn-link btn-sm text-reset text-uppercase text-decoration-none"
    (click)="cancelChangeDefaultPasswordModal()"
  >
    {{ changeDefaultPasswordModalLabels.Cancel }}
  </button>
  <button
    type="button"
    class="btn btn-primary btn-sm text-uppercase"
    (click)="changeDefaultPassword()"
  >
    {{ changeDefaultPasswordModalLabels.ChangeDefaultPassword }}
  </button>
</div>
